<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Video</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <h1 style="text-align: center;margin-top: 89px;">水面塑料检测结果</h1>
    <div class="container"><img class="col-8" src="{{ url_for('video_feed') }}" style="display: block;margin: auto;margin-top: 49px;"></div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/mdb.min.js"></script>
    <script src="assets/js/all.min.js"></script>
</body>

</html>